# Ignore node_modules; they are installed in the build stage
node_modules
npm-debug.log
yarn-error.log

# Ignore Dockerfile and docker-compose files if not needed in the final image
Dockerfile
.dockerignore

# Ignore Git files
.git
.gitignore

# Ignore local environment files (if not copied in Dockerfile)
.env

# Ignore VS Code
.vscode